body {
  padding-top: 40px;
  background-color: #f5f5f5;
}
.flat .plan {
  border-radius: 6px;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #fff;
  text-align: left;
}
.flat .plan li {
  padding: 10px 15px;
  color: #ccc;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.flat .plan li.plan-price {
  border-top: 0;
}
.flat .plan li.plan-name {
  border-radius: 6px 6px 0 0;
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #e74c3c;
  margin-bottom: 0px;
  border-top: 0;
  text-align: center; 
}
.flat .plan li.block-meaning {
  border-radius: 0px 0px 0 0;
  padding: 10px;
  font-size: 12px;
  line-height: 10px;
  color: #fff;
  background: #e74c3c;
  margin-bottom: 30px;
  border-top: 0;
  text-align: center; 
}
.flat .plan li > strong {
  color: #e74c3c;
}
.flat .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.flat .plan.featured {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.flat .plan.featured li.plan-name {
  background: #000;
}
.flat .plan.featured:hover li.plan-name {
  background: #c0392b;
}
.flat .plan:hover li.plan-name {
  background: #000;
}
.flat .plan:hover li.block-meaning {
  background: #000;
  color: #CCC;
}
.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
.error {
    background:#ffecec url('../img/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}
#footer {
  margin-top: 100px;
  padding-bottom: 30px;
}

input[type="submit"] {
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    -moz-user-select: none;
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #444;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin: 11px 8px;
    min-width: 54px;
    padding: 0px 8px;
    text-align: center;
}


