language: python

python:
#  - "2.7"
  - "3.5"

cache: pip

install: 
  - pip install -r requirements.txt
  - pip install python-coveralls
  - pip install pytest-cov

script: 
  - python -m pytest tests/ --cov=asian_word_analyzer

after_success:
  - coveralls
